html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{

    padding: 5px;
    margin: 5px;
}

.wrapper {
    width: 400px;
    color: white;
    border: 1px solid grey;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button-row{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button{
    background-color: #d8d9db;
    color: black;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}

.calc-button:hover{
    background-color: #bbbcbe;
}

.calc-button:active{
    background-color: gray;
}

.calc-button-double{
    background-color: #d8d9db;
    color: black;
    font-size: 40px;
    height: 100px;
    flex-basis: 49.7%;
}
.calc-button-double:hover{
    background-color: #bbbcbe;
}

.calc-button-double:active{
    background-color: gray;
}

.calc-button:last-child{
    background-color: #df974c;
}
.calc-button:last-child:hover{
    background-color: #dfb07e;
}
